**自動マージに失敗しました**
{{release_branch}} から {{base_branch}} への自動マージに失敗しました。
コンフリクトの有無で対応方法が異なりますので、以下の内容を確認してください。

**コンフリクトによるマージの失敗**
コンフリクトが原因でマージに失敗した場合、{{head_branch}} ブランチでコンフリクトを解消してから、developブランチへマージしてください。

**コンフリクト以外の理由でマージに失敗**
コンフリクト以外の理由でマージが失敗した場合は、このプルリクエスト(PR)のベースブランチを release に変更してからマージを行ってください。