{{release_branch}} から {{base_branch}} への自動マージがうまく行きませんでした。

コンフリクトによるマージの失敗
コンフリクトが原因でマージに失敗した場合、{{head_branch}} ブランチでコンフリクトを解消してから、developブランチへマージしてください。

コンフリクト以外の理由でマージに失敗
コンフリクト以外の理由でマージが失敗した場合は、プルリクエスト(PR)のベースブランチを release に変更して、そこからマージを行ってください。